#app {
  width: 100%;
}
#scrollUpButton {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ffc702;
  color: #000000;
  cursor: pointer;
  padding: 20px;
  border-radius: 12px;
}

#scrollUpButton:hover {
  background-color: #ffdf6d;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  flex-direction: column;
}

body {
  height: 100px;
  width: 100%;
}

Header {
  padding: 40px 10px;
}
Header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
Header nav a {
  font-size: 20px;
  font-weight: 700px;
  line-height: 24px;
  color: #525252;
}

.main {
  /*Section*/
  margin: 0 auto;
  margin-bottom: 70px;
}
.main .wrapper-main {
  width: 1100px;
}
.main .wrapper-main .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 40px;
  margin-bottom: 30px;
  gap: 20px;
  background-color: #AB91EA;
  border-radius: 5px;
}
.main .wrapper-main .main-container h1 {
  width: 70%;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #e6e6e6;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
}
.btn-container .btn-main {
  padding: 20px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  border: 1px solid #dedede;
  transition: 0.5s;
}
.btn-container .btn-main:hover {
  background-color: #947ADB;
  color: #fafafa;
}

.process {
  text-transform: uppercase;
  margin: 15px 0 15px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #333333;
}

.main-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-cards .card {
  width: 27%;
  height: 160px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #333333;
  text-align: center;
}
.main-cards .card h4 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #fafafa;
}
.main-cards .card p {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #fafafa;
}

.about .about-title {
  background-color: #947ADB;
  text-align: center;
  margin-bottom: 30px;
}
.about .about-title h1 {
  padding: 20px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #fafafa;
}
.about .about-wrapper {
  width: 1100px;
  margin: 0 auto;
}
.about .about-wrapper .about-desc {
  width: 85%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}
.about .about-wrapper .about-desc p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.about .statistics {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 70px 0;
}
.about .statistics .card {
  width: 20%;
  height: 100%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about .statistics .card svg {
  margin-bottom: 15px;
}
.about .statistics .card h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}
.about .title-success {
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 50px;
}
.about .success {
  display: flex;
  justify-content: space-between;
}
.about .success .story-cards-right {
  width: 50%;
  text-align: center;
}
.about .success .story-cards-right .year-right {
  width: 15%;
  background-color: #646464;
  color: #fafafa;
  border-radius: 10px;
  padding: 5px 30px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
.about .success .story-cards-left {
  width: 50%;
  text-align: center;
}
.about .success .story-cards-left .year-left {
  width: 15%;
  background-color: #947ADB;
  color: #fafafa;
  border-radius: 10px;
  padding: 5px 30px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
.about .success .story-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 50px;
  padding: 0px 15px;
}
.about .success .story-items h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #947ADB;
}
.about .success .story-items .black {
  /* h2*/
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #333333;
}
.about .success .story-items .text {
  width: 90%;
}
.about .success .story-items .text p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}
.about .success .story-items .text .green {
  color: #947ADB; /* p */
}


.tariffs .tariffs-title {
  background-color: #947ADB;
  text-align: center;
  margin-bottom: 30px;
}
.tariffs .tariffs-title h1 {
  padding: 20px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #fafafa;
}
.tariffs .tariffs-wrapper {
  width: 1100px;
  margin: 0 auto;
}
.tariffs .tariffs-wrapper .tariffs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tariffs .tariffs-wrapper .properties h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
}
.tariffs .tariffs-wrapper .properties #souns {
  padding: 10px 10px;
  border-bottom: 2px solid lightgrey;
}
.tariffs .tariffs-wrapper .properties #license {
  padding: 10px 10px;
  border-bottom: 2px solid lightgrey;
}
.tariffs .tariffs-wrapper .properties #price {
  padding: 10px 10px;
}
.tariffs .tariffs-wrapper .subscription {
  text-align: center;
}
.tariffs .tariffs-wrapper .subscription .item-title {
  width: 200px;
  text-align: center;
  background-color: #947ADB;
  padding: 10px 10px;
  margin-top: 24px;
  border-radius: 10px 10px 0 0;
}
.tariffs .tariffs-wrapper .subscription .item-title h3 {
  color: #fafafa;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.tariffs .tariffs-wrapper .subscription .item {
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  padding: 10px 10px;
}
.tariffs .tariffs-wrapper .subscription #border {
  border-bottom: 2px solid lightgrey;
}
.tariffs .tariffs-wrapper .subscription .btn-selection {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ffc702;
  color: #333333;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}
.tariffs .tariffs-wrapper .subscription .btn-selection:hover {
  color: #fafafa;
}
.tariffs .tariffs-wrapper .counter {
  background-color: #947ADB;
  color: #fafafa;
  text-align: center;
  padding: 30px 40px;
  margin-top: 60px;
}
.tariffs .tariffs-wrapper .counter h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 40px;
}
.tariffs .tariffs-wrapper .counter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tariffs .tariffs-wrapper .counter .container .input {
  width: 30%;
  text-align: center;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 10px;
}
.tariffs .tariffs-wrapper .counter .container .input h3 {
  padding-bottom: 20px;
}
.tariffs .tariffs-wrapper .counter .container .input h3,
.tariffs .tariffs-wrapper .counter .container .input .number {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.tariffs .tariffs-wrapper .counter .btn-counter {
  width: 30%;
  padding: 15px 15px;
  margin-top: 50px;
  background-color: #3d3d3d;
  border-radius: 5px;
  border: 1px solid #fafafa;
  color: #fafafa;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  transition: 0.5s;
}
.tariffs .tariffs-wrapper .counter .btn-counter:hover {
  background-color: #fafafa;
  color: #947ADB;
}
.tariffs .tariffs-wrapper p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.contacts {
  /*Section*/
  margin-bottom: 50px;
}
.contacts .contacts-title {
  background-color: #333333;
  text-align: center;
  margin: 50px 0px;
}
.contacts .contacts-title h1 {
  padding: 20px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #fafafa;
}
.contacts .contacts-wrapper {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contacts .contacts-wrapper p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #333333;
  margin-bottom: 50px;
}
.contacts .contacts-wrapper .form {
  width: 25%;
  border-radius: 20px;
  border: 1px solid #333333;
  padding: 20px;
  text-align: center;
}
.contacts .contacts-wrapper .form h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}
.contacts .contacts-wrapper .form .form-container {
  width: 100%;
  margin: 0 auto;
}
.contacts .contacts-wrapper .form .form-container .messenger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.contacts .contacts-wrapper .form .form-container .messenger .mail,
.contacts .contacts-wrapper .form .form-container .messenger .telegram {
  width: 50%;
  border-bottom: 1px solid #d4d4d4;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #333333;
  display: flex;
  justify-content: center;
}
.contacts .contacts-wrapper .form .form-container .messenger .mail {
  padding-right: 20px;
}
.contacts .contacts-wrapper .form .form-container .messenger .telegram {
  padding-right: 10px;
}
.contacts .contacts-wrapper .form .data {
  width: 100%;
  display: flex;
  border-radius: 5px;
  margin-bottom: 15px;
  align-items: center;
  border: 1px solid #8b8b8b;
}
.contacts .contacts-wrapper .form .data .icon {
  height: 100%;
  background-color: #333333;
  border-radius: 4px 0 0 4px;
  padding: 2px;
}
.contacts .contacts-wrapper .form .data .input {
  border: none;
  width: 100%;
  padding: 10px 0 10px 10px;
  border-radius: 0px 5px 5px 0;
}
.contacts .contacts-wrapper .form textarea {
  width: 93%;
  height: 120px;
  border-radius: 5px;
  border: 1px solid #8b8b8b;
  padding: 10px;
  margin-bottom: 30px;
}
.contacts .contacts-wrapper .form .btn-form {
  width: 100%;
  background-color: #ffc702;
  color: #333333;
  padding: 10px 0px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}
.contacts .contacts-wrapper .form .btn-form:hover {
  color: #fafafa;
}
.contacts .form-tele {
  display: none;
  width: 25%;
  border-radius: 20px;
  border: 1px solid #333333;
  padding: 20px;
  text-align: center;
}
.contacts .form-tele h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}
.contacts .form-tele .form-container {
  width: 100%;
  margin: 0 auto;
}
.contacts .form-tele .form-container .messenger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.contacts .form-tele .form-container .messenger .mail,
.contacts .form-tele .form-container .messenger .telegram {
  width: 50%;
  border-bottom: 1px solid #d4d4d4;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #333333;
  display: flex;
  justify-content: center;
}
.contacts .form-tele .form-container .messenger .mail {
  padding-right: 20px;
}
.contacts .form-tele .form-container .messenger .telegram {
  padding-right: 10px;
}
.contacts .form-tele .data {
  width: 100%;
  display: flex;
  border-radius: 5px;
  margin-bottom: 15px;
  align-items: center;
  border: 1px solid #8b8b8b;
}
.contacts .form-tele .data .icon {
  height: 100%;
  background-color: #333333;
  border-radius: 4px 0 0 4px;
  padding: 2px;
}
.contacts .form-tele .data .input {
  border: none;
  width: 100%;
  padding: 10px 0 10px 10px;
  border-radius: 0px 5px 5px 0;
}
.contacts .form-tele textarea {
  width: 93%;
  height: 120px;
  border-radius: 5px;
  border: 1px solid #8b8b8b;
  padding: 10px;
  margin-bottom: 30px;
}
.contacts .form-tele .btn-form {
  width: 100%;
  background-color: #ffc702;
  color: #333333;
  padding: 10px 0px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}
.contacts .form-tele .btn-form:hover {
  color: #fafafa;
}

.more {
  margin-bottom: 80px;
}
.more .more-title {
  background-color: #ffc702;
}
.more h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 20px 0;
  color: #303030;
}
.more .more-wrapper {
  width: 1100px;
  margin: 0 auto;
}
.more .more-wrapper .product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.more .more-wrapper .product-container .product-list-green,
.more .more-wrapper .product-container .product-list-black,
.more .more-wrapper .product-container .product-list-violet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 20px 10px 20px;
}
.more .more-wrapper .product-container .product-list-green .product h3,
.more .more-wrapper .product-container .product-list-black .product h3,
.more .more-wrapper .product-container .product-list-violet .product h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #fafafa;
  margin-top: 20px;
}
.more .more-wrapper .product-container .product-list-green .product p,
.more .more-wrapper .product-container .product-list-black .product p,
.more .more-wrapper .product-container .product-list-violet .product p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 50px 0;
  color: #FAFAFA;
}
.more .more-wrapper .product-container .product-list-green .product .btn-product,
.more .more-wrapper .product-container .product-list-black .product .btn-product,
.more .more-wrapper .product-container .product-list-violet .product .btn-product {
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px 0;
  margin-bottom: 20px;
  color: #fafafa;
  cursor: pointer;
}
.more .more-wrapper .product-container .product-list-green {
  background-color: #00ca69;
  border-radius: 10px 0 0 10px;
}
.more .more-wrapper .product-container .product-list-black {
  background-color: #333333;
}
.more .more-wrapper .product-container .product-list-violet {
  background-color: #947ADB;
  border-radius: 0px 10px 10px 0;
}

footer {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 300px;
  background-color: #AB91EA;
}
footer .footer-wrapper {
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
footer .footer-wrapper .link a {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
}


/*# sourceMappingURL=style.css.map */
